body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.content {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 25px 50px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: lightgrey 5px 0 10px;

    h1 {
        flex-grow: 1;
        color: darkslategray;
    }

    .menuLink {
        align-self: center;
        margin-right: 5%;
    }

    img {
        height: fit-content;
        transform: scale(1.5);
    }

}

.footer {
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: #244858;
}

table {
    width: 100%;
    border-collapse:collapse;
}

th {
    padding: 15px;
    text-align: start;
    background: #244858;
    color: whitesmoke;
}

tbody tr:nth-child(odd) {
    background-color: whitesmoke;
;
}

td {
    padding: 15px;
}

button {
    padding: 15px;
    border: none;
    font-size: inherit;
    border-radius: 5px;
}

button:hover {
    padding: 14px;
    cursor: pointer;
}

.primary {
    background: #66c1e8;
    color: whitesmoke;
}

.primary:hover {
    background: whitesmoke;
    color: #66c1e8;
    border: 1px solid #66c1e8;
}

.secondary {
    background: #e86666;
    color: whitesmoke;
}

.secondary:hover {
    background: whitesmoke;
    color: #e86666;
    border: 1px solid #e86666;
}

a {
    color: #244858;
}

.detail {
    background-color: whitesmoke;
    padding: 15px;
    margin: 0 15px;
}

.flex-outer {
    padding-left: 0;
}

.flex-outer>li {
    list-style: none;
    padding-bottom: 15px;
    display: flex;
}

.flex-outer>li>label {
    flex: 1 0 120px;
    max-width: 220px;
    align-self: flex-start;
}

.flex-outer>li>label+* {
    flex: 1 0 220px;
}

.flex-outer>li>button {
    align-self: flex-end;
}

.flex-outer>li:last-of-type {
    justify-content: flex-end;
}

input, textarea, select {
    font-size: inherit;
    width: 50%;
    height: fit-content;
    padding-left: 10px;
}

input::placeholder, textarea::placeholder {
    color: inherit;
}