body {
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin: 0 0 100px 0;
    padding: 0;
}

.content {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 25px 75px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 25px;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: lightgrey 5px 0 10px;

    h1 {
        padding-left: 25px;
        flex-grow: 1;
        color: darkslategray;

        a {
            text-decoration: none;
        }
    }

    .menuLink {
        align-self: center;
    }

    img {
        height: fit-content;
        transform: scale(1.5);
    }

    .flag img {
        height: 20px;
    }

    form {

        display: flex;
        align-items: center;
        justify-content: end;
        height: 40px;

        #login {
            padding: 5px 10px;
            margin-left: 20px;
        }

        #login:hover {
            padding: 4px 9px;
        }

    }

}

.footer {
    position: fixed;
    bottom: 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: #244858;
}

table {
    width: 100%;
    border-collapse:collapse;
}

th {
    padding: 15px;
    text-align: start;
    background: #244858;
    color: whitesmoke;
}

tbody tr:nth-child(odd) {
    background-color: whitesmoke;
;
}

td {
    padding: 15px;
}

.table-link {
    text-align: end;
}

.button-wrapper {
    padding: 15px;
    display: flex;
    justify-content: center;
}

#add-movie {}

button {
    padding: 15px;
    border: none;
    font-size: inherit;
    border-radius: 5px;
}

button:hover {
    padding: 14px;
    cursor: pointer;
}

.primary {
    background: #66c1e8;
    color: whitesmoke;
}

.primary:hover {
    background: whitesmoke;
    color: #66c1e8;
    border: 1px solid #66c1e8;
}

.secondary {
    background: #e86666;
    color: whitesmoke;
}

.secondary:hover {
    background: whitesmoke;
    color: #e86666;
    border: 1px solid #e86666;
}

a {
    color: #244858;
}

.detail {
    background-color: whitesmoke;
    padding: 15px;
    margin: 0 15px;
}

.flex-outer {
    padding-left: 0;
}

.flex-outer>li {
    list-style: none;
    padding-bottom: 15px;
    display: flex;
}

.flex-outer>li>label {
    flex: 1 0 120px;
    max-width: 220px;
    align-self: flex-start;
}

.flex-outer>li>label+* {
    flex: 1 0 220px;
}

.flex-outer>li>button {
    align-self: flex-end;
}

.flex-outer>li:last-of-type {
    justify-content: flex-end;
}

input, textarea, select {
    font-size: inherit;
    width: 50%;
    height: fit-content;
    padding-left: 10px;
    border-radius: 5px;
    background-color: inherit;
    /* border: solid; will remove inset shadow */
    border: 2px solid #cccccc
}

input::placeholder, textarea::placeholder {
    color: inherit;
}

.error {
    font-size: 12px;
    color: #e86666;
}

#synopsis {
    min-height: 100px;
}
