<div class="content" th:fragment="addForm">
    <h2>Ajouter un film à la filmothèque</h2>
    <form th:object="${movie}" th:action="@{/movie/add}" method="post">
        <ul class="flex-outer">
            <li>
                <label for="title">Titre : <br><div th:replace="~{fragments/error :: frag-error('title')}">...</div></label>
                <input type="text" id="title" th:field="${movie.title}" placeholder="Le Pacte des Loups" required></li>
            <li>
                <label for="releaseDate">Année : <br><div th:replace="~{fragments/error :: frag-error('releaseDate')}">...</div></label>
                <input type="number" id="releaseDate" th:field="${movie.releaseDate}" placeholder="2001" required></li>
            <li>
                <label for="director">Réalisateur : </label>
                <input type="text" id="director" th:field="${movie.director}" placeholder="Christophe Gans" required></li>
            <li>
                <label for="genre">Genre : </label>
                <select id="genre" th:field="${movie.genre}">
                    <option th:each="genre: ${genresList}"
                            th:value="${genre}"
                            th:text="${genre}"
                            th:selected="${genre} == ${genresList[0]}"></option>
                </select>
            </li>
            <li>
                <label for="duration">Durée (min) : <br><div th:replace="~{fragments/error :: frag-error('duration')}">...</div></label>
                <input type="number" id="duration" th:field="${movie.duration}" placeholder="142" required></li>
            <li>
                <label for="synopsis">Synopsis : </label>
                <textarea id="synopsis" th:field="${movie.synopsis}" placeholder="En 1766, le chevalier Grégoire de Fronsac, missionné par Louis XV, est envoyé dans le Gévaudan pour traquer et abattre une bête mystérieuse qui terrorise la région depuis deux ans, n'épargnant ni femmes ni enfants."></textarea></li>
            <li>
                <button class="primary" type="submit">Ajouter le film</button>
            </li>
        </ul>
    </form>
</div>
