<div class="content" th:fragment="createReviewForm">
    <h2 th:text="#{movies.addReview}+#{for}+${movie.title}"></h2>
    <form th:object="${review}" th:action="@{/movie/review/add/{id}(id=${movie.id})}" method="post">
        <ul class="flex-outer">
<!--            FIXME: Error frag never appears, why ?-->
            <li><label for="rating" th:text="#{review.rating}"><br><div th:replace="~{fragments/error :: frag-error('rating')}">...</div></label>
                <input type="number" id="rating" name="rating" required th:field="*{rating}"></li>
            <li>
                <label for="comment" th:text="#{review.comment}"></label>
                <textarea id="comment" name="comment" th:field="*{comment}"></textarea></li>
            <li>
                <button class="primary" type="submit" th:text="#{movies.addReview}"></button>
            </li>
        </ul>
    </form>
</div>
