<div class="content" th:fragment="movieForm">
    <h2 th:text="${movie.title}"></h2>
    <form th:object="${movie}" th:action="@{/movie/{id}(id=${movie.id})}" method="post">
        <ul class="flex-outer">
            <li><label for="genre">Genre : </label><input type="text" id="genre" th:field="*{genre}"></li>
            <li><label for="releaseDate">Année : </label><input type="text" id="releaseDate"
                                                                th:field="*{releaseDate}"></li>
            <li><label for="title">Titre : </label><input type="text" id="title" th:field="*{title}"></li>
            <li><label for="director">Réalisateur : </label><input type="text" id="director"
                                                                   th:field="*{director}"></li>
            <li><label for="duration">Durée (min) : </label><input type="text" id="duration"
                                                                   th:field="*{duration}"></li>
<!--            TODO: replace textarea by dropdown select-->
<!--            <li><label for="actors">Acteurs : </label><textarea id="actors" th:inline="text">[# th:each="actor: *{actors}"]- [[${actor}]]-->
<!--[/]</textarea></li>-->
            <li><label for="actors">Acteurs : </label>
                <select id="actors" multiple>
                    <option th:each="actor: ${movie.actors}" th:text="${actor}"></option>
                </select>
            </li>
            <li><label for="synopsis">Synopsis : </label><textarea id="synopsis"
                                                                   th:field="*{synopsis}"></textarea></li>
            <li>
                <button type="submit">Modifier informations</button>
            </li>
        </ul>
    </form>
</div>
