<div class="content" th:fragment="moviesList">
    <p><span th:text="#{index.genres}"></span><span th:each="genre: ${genresList}">
        <a href="" th:text="${genre}"></a>
        </span></p>
    <h2 th:text="#{movies.title}"></h2>
    <!--<p><a href="/invalidate">vider la liste</a></p>-->
    <table>
        <tr>
            <th scope="col" th:text="#{movies.movieTitle}"></th>
            <th scope="col" th:text="#{movies.releaseDate}"></th>
            <th scope="col" th:text="#{movies.director}"></th>
            <th scope="col" th:text="#{movies.genre}"></th>
            <th scope="col" th:text="#{movies.action}"></th>
        </tr>
        <tr th:each="movie: ${movies}">
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.releaseDate}"></td>
            <td th:text="${movie.director.toString()}"></td>
            <td th:text="${movie.genre.name}"></td>
            <td class="table-link">
                <a th:href="@{/movie/{id}(id=${movie.id})}"><button class="secondary" th:text="#{movies.detailButton}"></button></a>
<!--                FIXME: ${id}(id=${movie.id} is not recognized by the controller-->
                <a th:if="${userSession.getEmail() != null}" th:href="@{/movie/review/add/{id}(id=${movie.id})}"><button class="primary" th:text="#{movies.addReview}"></button></a>
            </td>
        </tr>
    </table>
    <div class="button-wrapper">
        <a id="add-movie" href="/movie/add">
            <button class="primary" th:if="${userSession.isAdmin()}" th:text="#{movies.addButton}"></button>
        </a>
    </div>
</div>