<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<!--      data-th-replace="~{layouts/base :: baseLayout(
      pageTitle=~{:: title}, content=~{:: .content}}, additionalCss=~{})}"-->
<head th:replace="layouts/base :: baseLayout(~{::title},~{:: .content},~{})">
    <meta charset="UTF-8">
    <Title>Film inexistant</Title>
    <link data-th-href="@{/global.css}" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <h2>Le film demandé n'existe pas</h2>
    <a href="/">retourner au menu principal</a>
</div>
</body>
</html>